
@{
    ViewBag.Title = "Remove";
}

<h2>Remove</h2>
<ul>
    @foreach (var a in ViewBag.data)
    {
        string linkText = a.Name + " (" + a.Gender + ") - " + a.Age;

        <li>@Html.ActionLink(linkText, "Remove", "Home", new { uid = a._id }, null) </li>




    }
</ul>
